button {
  color: var(--white);
  background: var(--blue);

  width: 270px;
  height: 80px;

  border-radius: 5px;

  font-size: 1.3rem;

  display: flex;
  align-items:center;
  justify-content:center;
  transition: .3s;
}

button:hover {
  background: var(--blue-hover)
}