.overlay {
  background: rgba(242, 243, 245, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

#form {
  position: relative;
}

.outModal {
  position: absolute;
  top: 30px;
  right: 20px;

  width: 40px;
  height: 40px;
  color: var(--red);
  background: var(--white);
  border: 1px solid var(--gray-line);
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: .2s;
}

.outModal:hover {
  background: var(--red);
  color: var(--white)
}

.institutionalConclusion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}