.overlay {
  background: rgba(242, 243, 245, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  position: relative;
  height: 90%;
}

.outModal {
  position: absolute;
  top: 30px;
  right: 20px;

  cursor: pointer;
}

.titleCompany {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.checkbox{
  display: flex;
  height: 3rem;
  align-items: center;
}

.checkbox input {
  width: 1rem!important;
  height: 100%!important;
  margin-right: 1rem;
}

.checkbox input:focus {
  box-shadow:none!important;
}

.checkbox p {
  height: 100%!important;
  text-align: center;
}