#formSkill, #formRemoveLanguage {
  position: relative;
}

.addSkill {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  color: var(--blue);
  background: var(--gray);
  border: 1px dashed var(--blue);
}

.addSkill:hover {
  background: var(--blue);
  color: var(--white)
}

.inputLanguage {
  display: block;
  width: 100%;
  height: 65px;
  font-size: 20px;
  color: var(--gray-title);
  background: var(--gray);
  padding: 10px;
  border: 1px solid var(--blue);
  border-radius: 5px;
  margin-bottom: 30px;
}

.inputLanguage p {
  margin-top: 8px;
  font-weight: 600;
}

.removeLanguage {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  color: var(--red);
  background: var(--white);
  border: 1px solid var(--gray-line);
  border-radius: 5px;
}

.removeLanguage:hover {
  background: var(--red);
  color: var(--white)
}