#formSkill {
  position: relative;
}

.addSkill {
  /* display: block; */
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  color: var(--blue);
  background: var(--gray);
  border: 1px dashed var(--blue);
}

.addSkill:hover {
  color: var(--white)
}
