.topCreate {
  background: var(--blue);
  height: 240px;
  width:100vw;
  color: var(--white);
  text-align: center;
}

.titleCreateProfile {
  width: 550px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: left;
}
.titleCreateProfile h1 {
  padding-left: 28px;
}

#form {
  margin: -100px auto 0;
}

.button {
  margin: 50px auto;
}